/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable comment-empty-line-before */
/* game.css */
.window {
  width: 100%;
  padding: 20px;
  border: 1px solid #ecc601;
  color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ecc601, 0 0 30px #ecc601, 0 0 40px #ecc601, 0 0 55px #ecc601, 0 0 75px #ecc601;
  background-color: #222;
  margin-bottom: 20px;
  
}

.windowHeader {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.windowHeader h2 {
  margin: 0;
}

.playerDisplay {
  grid-column: span 12;
  grid-row-start: 3
}

.playerName{
  grid-column: span 4;
}

.playerAction {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeRemaining {
  grid-column: span 12;
  /* align-items: right; */
  text-align: right;
  margin: 0 20px;
}