
.window {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  gap: 10px;
}

.window-header {
  /*grid-area: window-header;*/

  grid-column: span 12;
 
}

.window-header h2 {
  margin: 0;
  grid-column: span 12;
}


.redTeam {

  background-color: red;
  grid-area: redTeam;
  border-right: 5px solid black;
 
  grid-column: span 6;
  
  
}

.greenTeam {
  background-color: green;
  grid-area: greenTeam;
  align-items: center;
  justify-content: center; 
  grid-column: span 6;

  
} 

.playerDisplay {
  grid-column: span 12;
}

.playerName{
    background-color: blue;
    grid-column: span 12;
    
    
}

.playerName h2{
  
  margin: 0;
  align-items: center;
  justify-content: center;  
}

.playerAction {

    background-color: blue;
    grid-column: span 12;
  
}

.timeRemaining {
 
  grid-column: span 12;
  
  
}