/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable comment-empty-line-before */
/* game.css */
.window {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto-fill;
  
}

.windowHeader {
  grid-area: window-header;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  grid-column: span 12;
  grid-row-start:1;
}

.windowHeader h2 {
  margin: 0;
}

.playerDisplay{
   grid-column: span 12;
   grid-row-start: 3
    
    
}

.playerName{
   grid-column: span 4;
}

.playerAction {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeRemaining {
 grid-column: span 12;
 align-items: right;
}