/* stylelint-disable declaration-block-no-redundant-longhand-properties */

.playerDisplay {
    display: grid;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-column: span 12;
 
}

.redTeam {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 6;
    border-right: 5px solid black;
}

.redPlayerName {
    background-color: red;
    grid-column: span 4;


}

.redPlayerScore {
    background-color: red;
   
    grid-column: span 2;
    border-right: 5px solid black;

}

.greenPlayerName {
    background-color: green;
   
    grid-column: span 4;

}

.greenPlayerScore {
    grid-area: greenPlayerScore;
    background-color: green;
   
    grid-column: span 2;

}