.actionScreen {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.playerAction {
  display: block; 
  grid-column: span 2;
  grid-row: auto;
  /* Filler code */
}

.playerName {
  display: block; /* Filler code */
  grid-column: span 2;
  grid-row:auto;
}

