body {
    background-color: #060709;
}

.logo {
    width: 100%;
    height: 80vh;
}

.countdown {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffd;
    font-size: 200px;
    font-family: "Trebuchet MS", sans-serif;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ecc601, 0 0 30px #ecc601, 0 0 40px #ecc601, 0 0 55px #ecc601, 0 0 75px #ecc601;
}